---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=libson
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.207 TT 0 0.216"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 36,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL26354259W",
                    "type": "work",
                    "seed": [
                        "/books/OL35588943M",
                        "/works/OL26354259W",
                        "/authors/OL9935122A"
                    ],
                    "title": "Lowell Libson and Jonny Yarker Ltd",
                    "title_suggest": "Lowell Libson and Jonny Yarker Ltd",
                    "title_sort": "Lowell Libson and Jonny Yarker Ltd",
                    "edition_count": 1,
                    "edition_key": [
                        "OL35588943M"
                    ],
                    "publish_date": [
                        "2018"
                    ],
                    "publish_year": [
                        2018
                    ],
                    "first_publish_year": 2018,
                    "isbn": [
                        "9781999978327",
                        "1999978323"
                    ],
                    "last_modified_i": 1635932156,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Libson & Jonny Yarker Ltd, Lowell"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL9935122A"
                    ],
                    "author_name": [
                        "Lowell Libson & Jonny Yarker Ltd. Staff"
                    ],
                    "publisher_facet": [
                        "Libson & Jonny Yarker Ltd, Lowell"
                    ],
                    "_version_": 1759773958554517504,
                    "author_facet": [
                        "OL9935122A Lowell Libson & Jonny Yarker Ltd. Staff"
                    ]
                },
                {
                    "key": "/works/OL32730248W",
                    "type": "work",
                    "seed": [
                        "/books/OL44549198M",
                        "/works/OL32730248W",
                        "/subjects/catalogs",
                        "/subjects/british_art",
                        "/subjects/lowell_libson_ltd",
                        "/subjects/time:18th_century",
                        "/subjects/time:19th_century",
                        "/authors/OL11885268A"
                    ],
                    "title": "Lowell Libson Ltd 2014",
                    "title_suggest": "Lowell Libson Ltd 2014",
                    "title_sort": "Lowell Libson Ltd 2014",
                    "edition_count": 1,
                    "edition_key": [
                        "OL44549198M"
                    ],
                    "publish_date": [
                        "2014"
                    ],
                    "publish_year": [
                        2014
                    ],
                    "first_publish_year": 2014,
                    "publish_place": [
                        "London"
                    ],
                    "lcc": [
                        "N--6766.00000000.L693 2014"
                    ],
                    "isbn": [
                        "0956393071",
                        "9780956393074"
                    ],
                    "last_modified_i": 1671515410,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Lowell Libson Limited"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL11885268A"
                    ],
                    "author_name": [
                        "Lowell Libson Ltd"
                    ],
                    "subject": [
                        "Catalogs",
                        "British Art",
                        "Lowell Libson Ltd"
                    ],
                    "time": [
                        "18th century",
                        "19th century"
                    ],
                    "publisher_facet": [
                        "Lowell Libson Limited"
                    ],
                    "time_facet": [
                        "18th century",
                        "19th century"
                    ],
                    "subject_facet": [
                        "British Art",
                        "Catalogs",
                        "Lowell Libson Ltd"
                    ],
                    "_version_": 1759786612494958592,
                    "lcc_sort": "N--6766.00000000.L693 2014",
                    "author_facet": [
                        "OL11885268A Lowell Libson Ltd"
                    ],
                    "subject_key": [
                        "british_art",
                        "catalogs",
                        "lowell_libson_ltd"
                    ],
                    "time_key": [
                        "18th_century",
                        "19th_century"
                    ]
                },
                {
                    "key": "/works/OL19112688M",
                    "type": "work",
                    "seed": [
                        "/books/OL19112688M",
                        "/works/OL19112688M",
                        "/subjects/drawing_british_--_exhibitions."
                    ],
                    "title": "Watercolours and drawings",
                    "title_suggest": "Watercolours and drawings",
                    "title_sort": "Watercolours and drawings",
                    "edition_count": 1,
                    "edition_key": [
                        "OL19112688M"
                    ],
                    "publish_date": [
                        "2003"
                    ],
                    "publish_year": [
                        2003
                    ],
                    "first_publish_year": 2003,
                    "number_of_pages_median": 96,
                    "publish_place": [
                        "London, Eng"
                    ],
                    "contributor": [
                        "Lowell Libson Ltd."
                    ],
                    "last_modified_i": 1678281656,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Lowell Libson Ltd."
                    ],
                    "language": [
                        "eng"
                    ],
             [...]
