---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=Lisbon
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.404 TT 0 0.421"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 5426,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL3739467W",
                    "type": "work",
                    "seed": [
                        "/books/OL4891499M",
                        "/works/OL3739467W",
                        "/subjects/guidebooks",
                        "/subjects/place:lisbon_(portugal)",
                        "/authors/OL656185A"
                    ],
                    "title": "Lisbon",
                    "title_suggest": "Lisbon",
                    "title_sort": "Lisbon",
                    "edition_count": 1,
                    "edition_key": [
                        "OL4891499M"
                    ],
                    "publish_date": [
                        "1971"
                    ],
                    "publish_year": [
                        1971
                    ],
                    "first_publish_year": 1971,
                    "number_of_pages_median": 88,
                    "lccn": [
                        "76023787"
                    ],
                    "publish_place": [
                        "London"
                    ],
                    "oclc": [
                        "137215"
                    ],
                    "lcc": [
                        "DP-0757.00000000.W75"
                    ],
                    "ddc": [
                        "914.6942"
                    ],
                    "isbn": [
                        "0460039628",
                        "9780460039628"
                    ],
                    "last_modified_i": 1670455018,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "J. M. Dent"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL656185A"
                    ],
                    "author_name": [
                        "Carol Wright"
                    ],
                    "place": [
                        "Lisbon (Portugal)"
                    ],
                    "subject": [
                        "Guidebooks"
                    ],
                    "id_goodreads": [
                        "4449408"
                    ],
                    "id_librarything": [
                        "9358847"
                    ],
                    "publisher_facet": [
                        "J. M. Dent"
                    ],
                    "place_key": [
                        "lisbon_(portugal)"
                    ],
                    "subject_facet": [
                        "Guidebooks"
                    ],
                    "_version_": 1759791042451734528,
                    "place_facet": [
                        "Lisbon (Portugal)"
                    ],
                    "lcc_sort": "DP-0757.00000000.W75",
                    "author_facet": [
                        "OL656185A Carol Wright"
                    ],
                    "subject_key": [
                        "guidebooks"
                    ],
                    "ddc_sort": "914.6942"
                },
                {
                    "key": "/works/OL22886482W",
                    "type": "work",
                    "seed": [
                        "/books/OL2660342M",
                        "/works/OL22886482W"
                    ],
                    "title": "Lisbon",
                    "title_suggest": "Lisbon",
                    "title_sort": "Lisbon",
                    "edition_count": 1,
                    "edition_key": [
                        "OL2660342M"
                    ],
                    "publish_date": [
                        "1952"
                    ],
                    "publish_year": [
                        1952
                    ],
                    "first_publish_year": 1952,
                    "number_of_pages_median": 54,
                    "lccn": [
                        "85596422"
                    ],
                    "publish_place": [
                        "Lisbon"
                    ],
                    "contributor": [
                        "Portugal. Secretariado Nacional da Informac\u0327a\u0303o."
                    ],
                    "last_modified_i": 1604443330,
                    "ebook_count_i": 0,
                    "ebook_access": "no_ebook",
                    "has_fulltext": false,
                    "public_scan_b": false,
                    "publisher": [
                        "Secretariado Nacional de Informac\u0327a\u0303o"
                    ],
                    "language":[...]
